:root {
    --border-radius: 10px;
}

body {
    min-width: 450px;
}

.life-cycles, .mixed-cards {
    margin: 0 auto;
    display: flex;
}

.life-cycles {
    max-width: 660px;
}
.metamorphosis-container {
    flex: 1;
}
.metamorphosis-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.metamorphosis-slots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mixed-cards {
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
    border: 4px dashed #cdcdcd;
    border-radius: var(--border-radius);
    background: #eee;
}

.card-slot {
    min-height: 100px;
    min-width: 130px;
}

.card-slot:empty {
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin: 2px;
    border-radius: var(--border-radius);
    background: #eee;
}

.card {
    margin: 14px;
}

.card > img {
    display: block;
    width: 200px;
    box-shadow: 0 0 0 8px #86989B;
    border-radius: var(--border-radius);
}

.active-zone:empty {
    margin: 2px;
    border-radius: var(--border-radius);
    background: #94aec1;
    border: 2px solid #01243d;
}

.dragged {
    opacity: 0.2;
    background-color: #94aec1;

}

.over-zone:empty {
    border-color: #026d03;
    background-color: #73cb8b;
}

.back-deck-highlight {
    border: 2px solid #01243d;
    background: #94aec1;
}

.back-deck-over-zone {
    border-color: #026d03;
    background-color: #73cb8b;
}

#game-result{
    font-family: Copperplate, Papyrus, fantasy;
    display: none;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;
    border-radius: 10px;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 10px;
    box-shadow: 10px 10px 5px rgba(115, 203, 139, 0.7);
    background-color: rgba(115, 203, 139, 0.8);
}
#result {
    color: #01243d;
    font-size: 200%;
}

